<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myswagger.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.myswagger.model.Role" >
    <id column="rid" property="rid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="risbegin" property="risbegin" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    rid, rname, risbegin
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where rid = #{rid,jdbcType=INTEGER}
  </select>

</mapper>